/* IPAD  Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape)  {
	
	.columna-granos p {
		font-size: 1.3rem;
		padding-left: 0px;
	}
	
	
	.columna-indicadores p {
		font-size: 1.5rem;
		padding-left: 0px;
	}
	
	.box-mercado .table-mercado-items .moneda-mercados {
		font-size: 1rem;
		padding-left: 0px;
	}
	
	.columna-ganado p {
		font-size: 1.5rem;

	}
	.box-noticias .container-texto-noticias > p, 
	.box-noticias .container-texto-noticias-3 > p,
	.box-noticias .container-texto-noticias-2 > p {
 		line-height: 100%;
	}

	.box-noticias .container-texto-noticias,
	.box-noticias .container-texto-noticias-2,
	.box-noticias .container-texto-noticias-3{
		min-height: 185px;
	}


/*fin ipad landscape*/
}

/*MEDIA QUERY PARA IPAD PORTRAIT*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 



/*IPAD portrait*/
 }






/*IPAD LANDSCAPE & PORTRAIT*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 

	#contenedor, #noticias{
		padding: 100px 45px;
	}
}


/*media query resoluciones 360x240*/

@media only screen 
and(max-device-width: 300px)
and(min-device-width: 150px;)
{
	
	.long-word {
		font-size: 0.8em !important;
	}

} /*FIN MEDIA QUERY 360x240px*/


