/* IPAD  Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape)  {
	
	.columna-granos p {
		font-size: 1.3rem;
		padding-left: 0px;
	}
	
	
	.columna-indicadores p {
		font-size: 1.5rem;
		padding-left: 0px;
	}
	
	.box-mercado .table-mercado-items .moneda-mercados {
		font-size: 1rem;
		padding-left: 0px;
	}
	
	.columna-ganado p {
		font-size: 1.5rem;

	}
	.box-noticias .container-texto-noticias > p, 
	.box-noticias .container-texto-noticias-3 > p,
	.box-noticias .container-texto-noticias-2 > p {
 		line-height: 100%;
	}

	.box-noticias .container-texto-noticias,
	.box-noticias .container-texto-noticias-2,
	.box-noticias .container-texto-noticias-3{
		min-height: 185px;
	}


/*fin ipad landscape*/
}

/*MEDIA QUERY PARA IPAD PORTRAIT*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 

	.home-box > div > div >img {
		width:45%;
	}

	.ul-nav li {
		text-align: center;
	}
/*IPAD portrait*/
 }






/*IPAD LANDSCAPE & PORTRAIT*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 

	#contenedor, #noticias, .section{
		padding: 150px 45px;
	}
}


/*FIN IPAD LANDSCAPE & PORTRAIT*/

/*media query resoluciones 360x240*/

@media only screen and (max-width: 240px)
{
	/***********PRODUCIR *************/


	.box-producir-2 p {
		font-size: 0.8em ;
		word-wrap: break-word;
	}


	/*********HOME*******/

	.home-box > div > div >img {
		width:40%;
	}

	.home-box p{
		font-size: 0.8em;
	}


	/*******MERCADOS******/
	
	.box-mercado > div > div {
		height: auto;
	}

	.box-mercado-title h1 {
		font-size: 2em;
	}

	 /**********CLIMA**********/

	.box-clima .box-clima-inner{
		padding: 20px 5px;
	}

	.box-clima .small-boxes-mercado > img {
		width: 80%;
	}

	.box-clima .fecha-descripcion{
		margin-bottom: 10px;
	}
	
	/***********HOY********/


	#clima [hid="1"], #mercados [hid="1"]  {
		height: auto !important;
	}

	.maxboxes-inner {
		padding: 25px 5px;
	}
	.clima-pronostico >.small-boxes-mercado p:nth-child(2) {
		font-size: 1em;
	}
	.maxbox-clima h3{
		font-size: 2em;
	}

	.box-mercado-clima-noticias .small-boxes-mercado p {
		font-size: 1.3em;
	}
	.box-mercado-clima-noticias .small-boxes-mercado h4 {
		font-size: 1.1em;
	}

	.maxbox-clima .small-boxes-mercado p:first-child {
    	font-size: 1.5em;
    	padding-left: 10px;
	}

}
/*FIN MEDIA QUERY 360x240px*/


/*media query resoluciones 360x240 portrait*/
@media only screen and (max-width: 370px) and (orientation: portrait)
{
	
	
}

/*FIN MEDIA QUERY 360x240px portrait*/



/** SMALL PHONE 240x320 PORTRAIT**/
@media only screen 
and (min-device-width : 240px) 
and (max-device-width : 320px) 
and (orientation : portrait){

	.container-inside-noticia .titulo{
		color: #2ED7AA;
		font-size: 30px;
	}
	
	.container-inside-noticia, .noticia-columna {
		padding: 0px 20px;
	}
	
	.ul-nav li a {
		padding-top: 60px;
		color: white;
	}
	
	.ul-nav li {
		padding-left: 0;
		height: 135px;
		margin-top: -6px;
	}
	
	.box-mercado {
		padding: 0 5px;
		border: none;
		font-family: 'arialregular';
	}
	
	.columna-ganado p {
		font-size: 1.2rem;
		padding-left: 5px;
	}
	
	.table-mercado-items div p {
		padding-left: 5px;
		font-size: .7em;
	}
	
	.columna-indicadores p {
		font-size: 1rem;
		padding-left: 4px;
	}
	
	.box-mercado .table-mercado-items .moneda-mercados {
		font-size: .7rem;
		padding-left: 5px;
	}
	
	.columna-granos p {
		font-size: 1rem;
		padding-left: 5px;
	}
	
}

/** FIN**/




/** NOKIA LUMIA 320x533 PORTRAIT**/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 533px) 
and (orientation : portrait){

	/*Cajas clima */
	.box-clima-sp{
		margin-top: 50px;
	}
	
	/* Imágenes interior noticias */
	.container-inside-noticia img {
		width: 80vw;
		height: 27vh;
		
	}

}

/** FIN**/



/** IPHONE 5 320x568 PORTRAIT**/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait){

	/* Mercados */
	.box-mercado-clima-noticias .small-boxes-mercado p {
		text-align: center;
		font-size: 1.7em;
	}
	
	.columna-indicadores p {
		font-size: 1.1rem;
		padding-left: 7px;
	}
}

/** FIN**/



/** IPHONE 6 375x667 PORTRAIT**/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait){

	/* Noticias interior img*/
	.container-inside-noticia img {
		width: 80vw;
		height: 25vh;
	}
}

/** FIN**/