@viewport{
    zoom: 1.0;
    width: device-width;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

/**{
transition:0.5s;
}*/

a:focus{
	text-decoration:none;
}


/*--------------------------------------------------------------------------------- CSS  LAYOUT E INTERIOR ------------------------------------------------------*/


/****************************************
************** GENERAL **************/



html{
	margin:0;
	padding:0;
}
/*FONTS*/
@font-face {
    font-family: 'arialregular';
    src: 
        url('../fonts/DaxlinePro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arialregular';
    src: url('../fonts/arial-webfont.eot');
    src: url('../fonts/arial-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial-webfont.woff2') format('woff2'),
         url('../fonts/arial-webfont.woff') format('woff'),
         url('../fonts/arial-webfont.ttf') format('truetype'),
         url('../fonts/arial-webfont.svg#arialregular') format('svg');
    font-weight: normal;
    font-style: normal;
} 

body{
	background-color: #fff;
	font-family:'arialregular';
}


a{
	text-decoration:none;
	cursor:pointer;
	border:none;
}



li{
	list-style:none;
}
a:hover{
	text-decoration:none;
}

p{
	font-family:'arialregular';
}

/** Header **/

header{
	width:100vw;
	min-height:40px;
	position:fixed;
	top:0;
	left:0;
	background: rgb(252, 252, 251);
    width: 100vw;
    min-height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-shadow: inset -1px 4px 40px 0px rgba(237, 210, 180, 0.81);
    -moz-box-shadow: inset -1px 4px 40px 0px rgba(237,210,180,1);
    box-shadow: inset -1px 4px 40px 0px rgb(248, 229, 207);
}


.headerMobile .navbar-collapse{
	height:0;
}
.headerMobile .navbar-collapse.in{
	min-height:100vh !important;
	overflow:visible;
}

.headerMobile .navbar-collapse{
	background-color:#f2f2f2;
	width:100vw;
	height:100vh;
 }
 
 .headerMobile .dropdown-header-nav{
	max-height: 0;
	transition: max-height 0.3s ease-out;
	display:block;
	overflow:hidden;
	position:initial;
	padding-left:0;
	padding-top:0;
 }
 
 .headerMobile .dropdown-header-nav.opened{
	max-height: 50000px;
	transition: max-height 0.3s ease-in;
	padding-left:0;
	margin:0;
 }
 
 .headerDesktop .dropdown-header-nav{
	display:none;
	background-color:white;
	border: black solid 1px;
 }
 
 .li-header:hover > .dropdown-header-nav{
	display:block;
	position:absolute;
 }

/**Fin Header**/

/* Tres cajas (mercados, clima. noticias del sector)*/

.box-mercado-clima-noticias{
	padding:0 25px;
}


.box-mercado-clima-noticias div{
	padding:5px;
	background-color:transparent;
	color:white;
	font-family:'arialregular';
	text-align:left;
}

.box-mercado-clima-noticias a{
	color:white;
}


/* Caja mercados*/
.box-mercado-clima-noticias > div:first-child > div{
	background-color:#28A382;
	min-height: 480px;
}

/* Caja clima*/
.box-mercado-clima-noticias > div:nth-child(2) > div{
	background-color:#2E9DFB;
	min-height: 480px;	
}

/* Caja noticias del sector*/
.box-mercado-clima-noticias > div:nth-child(3)  div{
	background-color:#2ED7AA;
	min-height: 480px;
}


/* Tres cajas (mercados, clima. noticias del sector) H3 TITULO*/
.box-mercado-clima-noticias > div:first-child div h3, div:nth-child(2) div h3, div:nth-child(3) div h3{
	color:#fff;
	text-align: left;
    padding-left: 20px;
	font-size: 2.5rem;
}




/******************************
******** MERCADOS *******
******************************/

/* Mercados: cajas (compra,venta)*/
.box-mercado-clima-noticias .small-boxes-mercado{
	min-height:220px;
}

/*Mercados: Titulo "mercados"*/
.box-mercado-clima-noticias > div:first-child > div > p{
	padding-left:20px;
    padding-top: 50px;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 1px;
}

/* Mercados: cajas (compra,venta) H4 TITULOS*/
.box-mercado-clima-noticias .small-boxes-mercado h4{
    font-size: 1.7em;
	text-align:left;
}

/* Mercados: cajas (compra,venta) párrafos*/
.box-mercado-clima-noticias .small-boxes-mercado p{
	text-align:left;
    font-size: 2.2em;
}

.box-mercado-clima-noticias  h5{
	text-align:center;
	text-transform:uppercase;
    font-size: 2.2em;
	letter-spacing:1px;
}




/******************************
*********** CLIMA ***********
******************************/
.box-mercado-clima-noticias >  div:nth-child(2) h3{
	padding-top:50px;
	margin:0;
	font-weight:700;
	text-align:center;
	padding-left:0;
	font-size: 2.5em;
}

.box-mercado-clima-noticias >  div:nth-child(2) h4{
	text-align:center;
    font-size: 1.8em;
}

.box-mercado-clima-noticias .small-boxes-mercado > img{
	width: auto;
}

.box-mercado-clima-noticias  >  div:nth-child(2) .small-boxes-mercado p:first-child{
    font-size: 2.5em;
	padding-top: 20px;
}

.box-mercado-clima-noticias  >  div:nth-child(2) .small-boxes-mercado p:nth-child(2){
    font-size: 1.7em;
}

.box-clima option,.box-clima select{
	color: #B2B2B2;
    font-size: 1.6rem;
    background: transparent;
    border: none;
    width: 70%;
    font-family: 'arialregular';
}


.box-clima option:focus,.box-clima select:focus{
	outline:none;
}
/*********************************************
*********** NOTICIAS SECTOR ***********
*********************************************/
.box-mercado-clima-noticias  >  div:nth-child(3) .container-noticias-sector{
    min-height: 300px;
    text-align: center;
    padding-top: 90px;
}

.box-mercado-clima-noticias >  div:nth-child(3) .container-noticias-sector > img{
    text-align: center;
    padding: 0px 20px;
    width: auto;
    display: inline-block;
    max-width: 100%;
	padding-bottom: 40px;
}

.box-mercado-clima-noticias  >  div:nth-child(3) .container-noticias-sector > h4{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.1em;
    line-height: 1.3em;
    max-width: 200px;
    display: inline-block;
}

.container-imagen-nota{
	width:100%;
	height:100px;
	background-size: 100% auto;
}


/**********************************************
*********** SECCIÓN MERCADO***********
**********************************************/
.box-mercado {
	padding:0 25px;
	border:none;
	font-family:'arialregular';
}

.box-mercado div{
	padding:5px;
	background-color:transparent;
	text-align:center;
	padding-bottom:30px;
}


.box-mercado > div:first-child > div{
	background-color:#28A382;
	
	height:100%;
	border:none;
}

/* Mercado de Liniers */
.box-mercado > div > div{
	border:1px solid #28A382;
	height:100%;
}


/* TÍTULO MERCADOS primer div */
.box-mercado > div:first-child > div h1{
	font-weight:300;
	letter-spacing:2px;
	text-align:center;
	padding-top:200px;
	margin:0;
	color:#fff;
}

/* Primer div sin borde */
.box-mercado > div:first-child{
	border:none;
}


/* TÍTULOS divs 2,3,4,5,6 */
.container-items-mercados h3{ 
	color:#2EA982!important;
	text-align:center!important;
    font-weight: 700;
    font-size: 2.1rem!important;
}


/*MERCADO DE LINIERS */
.box-mercado > div:nth-child(2) > div .icon-number-mercados{
    min-height: 100px;
	text-align:center;
    padding-top: 30px;
}


/* Imágen vaca */
.box-mercado > div:nth-child(2) > div > div img{
    display: inline-block;
    width: auto;
    max-width: 100%;
}

/* Número */
.box-mercado > div:nth-child(2) > div > div > p{
    display: inline-block;
    font-weight: 700;
    font-size: 2rem;
	color:#323232;
	margin: 0;
    vertical-align: bottom;
}

/* TABLA */

.box-mercado .general-table-mercados{
    padding-top: 0px;
}
	
.table-mercado{
	min-height:30px!important;
	padding:0!important;
}

.table-mercado div{
	padding:0;
	background:#F1F2F3;
	text-align:left;
	min-height:30px;
}

/* Categoría */
.table-mercado div{
    min-height: 30px;
	text-align:center;
    padding: 0px;
}

/* Categoría título */
.table-mercado > div:first-child > h3{
	color:#3F3F3F;
    font-size: 1.8rem;
	padding: 0;
    margin: 0;
    display: block;
    text-align: left;
    vertical-align: -webkit-baseline-middle;
    padding-top: 7px;
    padding-left: 30px;
}


/*  Precio */
.table-mercado > div:nth-child(2){
    min-height: 30px;
	text-align:center;
    padding: 0px;
}


/* Precio título */
.table-mercado > div:nth-child(2) h3{
	color:#3F3F3F;
    font-size: 1.8rem;
	padding: 0;
    margin: 0;
    display: inline-block;
    text-align: left;
    vertical-align: -webkit-baseline-middle;
}


/* Var Día */
.table-mercado > div:nth-child(3){
    min-height: 30px;
	text-align:center;
    padding-top: 0px;
}

/* Var Día título */
.table-mercado > div:nth-child(3) h3{
	color:#3F3F3F;
    font-size: 1.8rem;
	padding: 0;
    margin: 0;
    display: inline-block;
    text-align: left;
    vertical-align: -webkit-baseline-middle;
}


/* ITEMS INTERIOR TABLA*/
.table-mercado-items div{
	background-color:white;
	border-bottom:1px solid #F2F2F2;
}

.table-mercado-items > div:nth-child(2) > h3{
	color:#388B00;
}

.table-mercado-items > div:nth-child(2) > img{
    padding-top: 5px;
    padding-left: 10px;
}


/* EL PRECIO DE LA LECHE */
.box-mercado > div:nth-child(3) > div .icon-number-mercados{
    min-height: 100px;
	text-align:center;
    padding-top: 30px;
}


/* Imágen vaca */
.box-mercado > div:nth-child(3) > div > div img{
    display: inline-block;
    width: auto;
    max-width: 100%;
}

/* Número */
.box-mercado > div:nth-child(3) > div > div > p{
    display: inline-block;
    font-weight: 700;
    font-size: 2rem;
	color:#323232;
	margin: 0;
    vertical-align: bottom;
}


/*COTIZACIÓN DE  MONEDA EXTRANJERA */

.box-mercado  .table-mercado-items .moneda-mercados{
    color: #3F3F3F;
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
    display: block;
    text-align: left;
    vertical-align: -webkit-baseline-middle;
    padding-top: 7px;
    padding-left: 10px;
}

.table-mercado > div:nth-child(4){
    min-height: 30px;
	text-align:center;
    padding-top: 0px;
}

.table-mercado > div:nth-child(4) h3{
	color:#3F3F3F;
    font-size: 1.8rem;
	padding: 0;
    margin: 0;
    display: inline-block;
    text-align: left;
    vertical-align: -webkit-baseline-middle;
}

.box-mercado  .table-mercado-items .fecha-mercados{
	color:#3F3F3F;
    font-size: 1.5rem;
}


/********************************
************* CLIMA ***********
********************************/

/* Cajas clima general */
.box-clima{
	padding:0 25px;
}

.box-clima div{
	padding:5px;
	background-color:transparent;
	color:white;
	font-family:'arialregular';
	text-align:left;
}


/* CAJA CLIMA PRIMERA*/
.box-clima  > div:first-child > div:first-child{
	background-color:#F7F7F7;
	min-height: 50px;
    border-bottom: 4px solid #0078B9;
    border-top: none;
    border-left: none;
    border-right: none;
	margin-bottom:4px;
}

.box-clima  > div:first-child > div:nth-child(2){
	background-color:#2E9DFB;
	min-height: 290px;
	border:none;
}

/* Título ZONA */
.box-clima  > div:first-child > div:first-child h1{
	text-align:left;
	color:#B2B2B2;
	font-size:1.8rem;
	margin: 0;
    padding-top: 10px;
    padding-left: 10px;
}

/* Título CLIMA */
.box-clima  > div:first-child > div:nth-child(2) h1{
	text-align:center;
	margin:0;
    padding-top: 120px;
}



/* Cajas clima normales */
.box-clima  > div > div{
	background-color:transparent;
	min-height: 345px;	
	border:2px solid #2E9DFB;
}


.box-clima >  div:nth-child(2) h3{
	padding-top:30px;
	margin:0;
	font-weight:700;
	text-align:center;
	padding-left:0;
	font-size: 2.5em;
	color:#2E9DFB;
}

.box-clima p {
	color:#36464E;
	margin:0;
}
.box-clima >  div:nth-child(2) h4{
	text-align:left;
    font-size: 2rem;
	color:#36464E;
	margin:0;
}

.box-clima .small-boxes-mercado > img{
	width: auto;
}

.box-clima >  div:nth-child(2) .small-boxes-mercado p{
    font-size: 1.7em;
	padding-top: 30px;
	display: inline-block;
	color:#36464E;
}


.box-clima >  div:nth-child(2) .small-boxes-mercado p:first-child{
	color:#2E9DFB;
	font-weight:700;
}

.box-clima >  div:nth-child(2) .small-boxes-mercado p:nth-child(2){
	color:	#4C4C4C;
	padding:0 5px;
}


.box-clima >  div:nth-child(2) .small-boxes-mercado p:nth-child(3){
	color:	#B54D4D;
	font-weight:700;
}

.box-clima >  div:nth-child(2) .small-boxes-mercado p:nth-child(4){
	padding-top:10px;
	font-size:1.8rem;
}

/* Información del clima */
.box-clima .info-clima{
	padding: 0 30px; 
	margin: 0;
}


.box-clima .info-clima > h4{
	padding: 0; 
	margin: 0;
}

.box-clima .info-clima > p{
	padding: 5px 0; 
	margin: 0;
}



/********* Clima 2 ************/
.box-clima >  div:nth-child(3) h3{
	padding-top:30px;
	margin:0;
	font-weight:700;
	text-align:center;
	padding-left:0;
	font-size: 2.5em;
	color:#2E9DFB;
}


.box-clima >  div:nth-child(3) h4{
	text-align:left;
    font-size: 2rem;
	color:#36464E;
	margin:0;
}

.box-clima >  div:nth-child(3) .small-boxes-mercado p{
    font-size: 1.7em;
	padding-top: 30px;
	display: inline-block;
	color:#36464E;
}


.box-clima >  div:nth-child(3) .small-boxes-mercado p:first-child{
	color:#2E9DFB;
	font-weight:700;
}

.box-clima >  div:nth-child(3) .small-boxes-mercado p:nth-child(2){
	color:	#4C4C4C;
	padding:0 5px;
}


.box-clima >  div:nth-child(3) .small-boxes-mercado p:nth-child(3){
	color:	#B54D4D;
	font-weight:700;
}

.box-clima >  div:nth-child(3) .small-boxes-mercado p:nth-child(4){
	padding-top:10px;
	font-size:1.8rem;
}




/********* Clima 3 ************/
.box-clima >  div:nth-child(4) h3{
	padding-top:30px;
	margin:0;
	font-weight:700;
	text-align:center;
	padding-left:0;
	font-size: 2.5em;
	color:#2E9DFB;
}


.box-clima >  div:nth-child(4) h4{
	text-align:left;
    font-size: 2rem;
	color:#36464E;
	margin:0;
}

.box-clima >  div:nth-child(4) .small-boxes-mercado p{
    font-size: 1.7em;
	padding-top: 30px;
	display: inline-block;
	color:#36464E;
}


.box-clima >  div:nth-child(4) .small-boxes-mercado p:first-child{
	color:#2E9DFB;
	font-weight:700;
}

.box-clima >  div:nth-child(4) .small-boxes-mercado p:nth-child(2){
	color:	#4C4C4C;
	padding:0 5px;
}


.box-clima >  div:nth-child(4) .small-boxes-mercado p:nth-child(3){
	color:	#B54D4D;
	font-weight:700;
}

.box-clima >  div:nth-child(4) .small-boxes-mercado p:nth-child(4){
	padding-top:10px;
	font-size:1.8rem;
}



/********* Clima 4 ************/
.box-clima >  div:nth-child(5) h3{
	padding-top:30px;
	margin:0;
	font-weight:700;
	text-align:center;
	padding-left:0;
	font-size: 2.5em;
	color:#2E9DFB;
}


.box-clima >  div:nth-child(5) h4{
	text-align:left;
    font-size: 2rem;
	color:#36464E;
	margin:0;
}

.box-clima >  div:nth-child(5) .small-boxes-mercado p{
    font-size: 1.7em;
	padding-top: 30px;
	display: inline-block;
	color:#36464E;
}


.box-clima >  div:nth-child(5) .small-boxes-mercado p:first-child{
	color:#2E9DFB;
	font-weight:700;
}

.box-clima >  div:nth-child(5) .small-boxes-mercado p:nth-child(2){
	color:	#4C4C4C;
	padding:0 5px;
}


.box-clima >  div:nth-child(5) .small-boxes-mercado p:nth-child(3){
	color:	#B54D4D;
	font-weight:700;
}

.box-clima >  div:nth-child(5) .small-boxes-mercado p:nth-child(4){
	padding-top:10px;
	font-size:1.8rem;
}




/********* Clima 5 ************/
.box-clima >  div:nth-child(6) h3{
	padding-top:30px;
	margin:0;
	font-weight:700;
	text-align:center;
	padding-left:0;
	font-size: 2.5em;
	color:#2E9DFB;
}


.box-clima >  div:nth-child(6) h4{
	text-align:left;
    font-size: 2rem;
	color:#36464E;
	margin:0;
}

.box-clima >  div:nth-child(6) .small-boxes-mercado p{
    font-size: 1.7em;
	padding-top: 30px;
	display: inline-block;
	color:#36464E;
}


.box-clima >  div:nth-child(6) .small-boxes-mercado p:first-child{
	color:#2E9DFB;
	font-weight:700;
}

.box-clima >  div:nth-child(6) .small-boxes-mercado p:nth-child(2){
	color:	#4C4C4C;
	padding:0 5px;
}


.box-clima >  div:nth-child(6) .small-boxes-mercado p:nth-child(3){
	color:	#B54D4D;
	font-weight:700;
}

.box-clima >  div:nth-child(6) .small-boxes-mercado p:nth-child(4){
	padding-top:10px;
	font-size:1.8rem;
}






/********* Clima 6 ************/
.box-clima >  div:nth-child(7) h3{
	padding-top:30px;
	margin:0;
	font-weight:700;
	text-align:center;
	padding-left:0;
	font-size: 2.5em;
	color:#2E9DFB;
}


.box-clima >  div:nth-child(7) h4{
	text-align:left;
    font-size: 2rem;
	color:#36464E;
	margin:0;
}

.box-clima >  div:nth-child(7) .small-boxes-mercado p{
    font-size: 1.7em;
	padding-top: 30px;
	display: inline-block;
	color:#36464E;
}


.box-clima >  div:nth-child(7) .small-boxes-mercado p:first-child{
	color:#2E9DFB;
	font-weight:700;
}

.box-clima >  div:nth-child(7) .small-boxes-mercado p:nth-child(2){
	color:	#4C4C4C;
	padding:0 5px;
}


.box-clima >  div:nth-child(7) .small-boxes-mercado p:nth-child(3){
	color:	#B54D4D;
	font-weight:700;
}

.box-clima >  div:nth-child(7) .small-boxes-mercado p:nth-child(4){
	padding-top:10px;
	font-size:1.8rem;
}






/********* Clima 7 ************/
.box-clima >  div:nth-child(8) h3{
	padding-top:30px;
	margin:0;
	font-weight:700;
	text-align:center;
	padding-left:0;
	font-size: 2.5em;
	color:#2E9DFB;
}


.box-clima >  div:nth-child(8) h4{
	text-align:left;
    font-size: 2rem;
	color:#36464E;
	margin:0;
}

.box-clima >  div:nth-child(8) .small-boxes-mercado p{
    font-size: 1.7em;
	padding-top: 30px;
	display: inline-block;
	color:#36464E;
}


.box-clima >  div:nth-child(8) .small-boxes-mercado p:first-child{
	color:#2E9DFB;
	font-weight:700;
}

.box-clima >  div:nth-child(8) .small-boxes-mercado p:nth-child(2){
	color:	#4C4C4C;
	padding:0 5px;
}


.box-clima >  div:nth-child(8) .small-boxes-mercado p:nth-child(3){
	color:	#B54D4D;
	font-weight:700;
}

.box-clima >  div:nth-child(8) .small-boxes-mercado p:nth-child(4){
	padding-top:10px;
	font-size:1.8rem;
}



/********************************
************* NOTICIAS ***********
********************************/

/* Cajas noticias general */
.box-noticias{
	padding:0 25px;
}

.box-noticias > div{
	padding:5px;
	background-color:transparent;
	color:white;
	font-family:'arialregular';
	text-align:center;
}


/* Cajas noticias normales */
.box-noticias > div > div{
	background-color:transparent;
	
}

.box-noticias  h1{
    color: #999999;
    font-size: 1.6rem;
    text-align: center;
    display: inline-block;
    margin: 0;
}

.box-noticias #noticia-box-title{
	color: white;
    text-transform: uppercase;
    padding-top: 85px;
    text-align: center;
    display: inline-block;
    width: 115px;
}

#noticia-box > #noticia-box-inner{
	background:#2ED7AA;
	min-height: 205px;	
	text-align:center;
}

.box-noticias > div > div > div{
	text-align:center;
	padding-bottom: 0;
}


.box-noticias .b-r{
    margin-right: 10px;
}

.box-noticias  .b-l{
    margin-left: 10px;
}


.border-noticia-h1{
	display: inline-block;
    vertical-align: text-bottom;
    width: 20%;
}





/* 2 tipo de noticia */
.box-noticias .container-img-noticias{
    min-height: 135px;
    padding-top: 0;
    padding: 0;
}

.box-noticias .container-texto-noticias{
    min-height: 154px;
    height: auto;
}

.box-noticias .container-img-noticias img{
    max-width: 100%;
    min-height: 130px;
    height: 130px;
    width: 100%;
}

.box-noticias .container-texto-noticias h2{
    margin: 0;
    font-size: .9em;
    text-align: left;
    font-weight: 700;
    height: 55px;
    padding: 5px 10px;
    min-height: 40px;
}


.box-noticias .container-texto-noticias > p{
    font-size: 10.5px;
    color: black;
    text-align: left;
    padding: 5px 10px;
    margin: 0;
    min-height: 100px;
}

.box-noticias .container-texto-noticias div{
    padding: 0;
}


.box-noticias .container-texto-noticias div p{
	padding: 0;
    color: white;
    text-align: right;
    padding-right: 10px;
    font-size: 11px;
}

/*COLORES DISTINTAS NOTICIAS*/

/*NOTICIA TIPO 1*/

.noticia-tipo-1 .container-texto-noticias{ 
    border: 2px solid #2ED7AA;    
}

.noticia-tipo-1 .container-texto-noticias h2 {
	color:#2ED7AA;
}

.noticia-tipo-1 .fecha p{
	background:#2ED7AA;
	margin-bottom:0;
}


/*NOTICIA TIPO 2*/

.noticia-tipo-2 .container-texto-noticias{
	border: 2px solid #2E9DFB;
}

.noticia-tipo-2 .container-texto-noticias h2{
	color:#2E9DFB;
}

.noticia-tipo-2 .fecha p{
	background:#2E9DFB;
	margin-bottom:0;
}


/*NOTICIA TIPO 3*/

.noticia-tipo-3 .container-texto-noticias{
	border: 2px solid #2EA982;
}

.noticia-tipo-3 .container-texto-noticias h2{
	color:#2EA982;
}

.noticia-tipo-3 .fecha p{
	background:#2EA982;
	margin-bottom:0;
}


/** 1 tipo de noticia */
/*.box-noticias .container-img-noticias{
    min-height: 135px;
    border-top: 3px solid #2ED7AA;
    padding-top: 0;
    padding: 0;
}

.box-noticias .container-texto-noticias{
    min-height: 154px;
    border: 2px solid #2ED7AA;
    
}

.box-noticias .container-img-noticias img{
    max-width: 100%;
    min-height: 130px;
    height: 130px;
    width: 100%;
}

.box-noticias .container-texto-noticias h2{
    margin: 0;
    font-size: 1em;
    text-align: left;
    color: #2ED7AA;
    font-weight: 700;
    letter-spacing: px;
    padding: 5px;
    min-height: 40px;
}


.box-noticias .container-texto-noticias > p{
    font-size: 10.5px;
    color: black;
    text-align: left;
    padding: 5px;
    margin: 0;
	color:#7F7F7F;
    min-height: 85px;
}

.box-noticias .container-texto-noticias div{
    padding: 0;
}


.box-noticias .container-texto-noticias div p{
	padding: 0;
    background: #2ED7AA;
    color: white;
    text-align: right;
    padding-right: 10px;
	font-size:11px;
}
*/
/* 3 tipo de noticia */
/*.box-noticias .container-img-noticias-3{
    min-height: 135px;
    border-top: 3px solid #2EA982;
    padding-top: 0;
    padding: 0;
}

.box-noticias .container-texto-noticias-3{
    min-height: 154px;
    border: 2px solid #2EA982;
    height: 170px;
}

.box-noticias .container-img-noticias-3 img{
    max-width: 100%;
    min-height: 130px;
    height: 130px;
    width: 100%;
}

.box-noticias .container-texto-noticias-3 h2{
    margin: 0;
    font-size: 1em;
    text-align: left;
    color: #2EA982;
    font-weight: 700;
    letter-spacing: px;
    padding: 5px;
    min-height: 40px;
}


.box-noticias .container-texto-noticias-3 > p{
    font-size: 10.5px;
    color: black;
    text-align: left;
    padding: 5px;
    margin: 0;
	color:#7F7F7F;
    min-height: 85px;
}

.box-noticias .container-texto-noticias-3 div{
    padding: 0;
}


.box-noticias .container-texto-noticias-3 div p{
	padding: 0;
    background: #2EA982;
    color: white;
    text-align: right;
    padding-right: 10px;
    font-size: 11px;
}
*/



/*********************HOME*******************/

#home { 
	padding: 45px; 
	background-image: url(../img/bg-index.png); 
	width: 100%;  
	text-align: center; 
	background-size: auto;
}

.home-upper-box { 
	padding: 20px 20px;
	margin-bottom:10em;
}

.home-upper-box > div {
	box-shadow: 5px 5px 10px rgba(136,136,136,0.5);
	background-color: white;
	padding: 25px;
	height: auto;

}
.home-upper-box img:nth-child(1){
	float: left;  
	width: 10em;
	position: relative;
	
}

.home-upper-box img:nth-child(2){
	float: right; 
	position: relative;
	width: 15em;
}

.home-bottom-box { 
	padding: 0; 
	margin:0; 
}

.home-bottom-box p {
	color: white; 
	font-size: 1.5em;
	margin: 5px;
}

.home-bottom-box > a> div {
	padding: 0px 20px;     
	margin: 10px 0px;
}


.hoy-box {
	background-color: #40CEDB;

}

.estemes-box{
	background-color: #0093D4
}

.producir-box{
	background-color: #7067B0;
}

.producir-box > div:nth-child(1) { 
	background-image: url(../img/icono-producir.png);  
}


.ayuda-box{
	background-color:#79BEFE;
}


.home-box > div > div {
	padding: 1em 0em;
}

.home-box > div > div:nth-child(1) {
	box-shadow: 0 5px 10px -2px rgba(95,95,95,.5); 
	padding: 1em 0em;
} 

.home-box:hover > div > div:nth-child(1){
	box-shadow: 0 15px 10px -2px rgba(95,95,95,0.5); 
	transition: 1s;
}


/*****************PRODUCIR (FALTAN DETALLES DE IMAGEN)******************/


/*ESTAS SON LAS GOTAS DEL MENU PRODUCIR SIN EL TEXTO EN LA PROPIA IMAGEN, NAZA
DIJO QUE VA A MANDAR LAS GOTAS CON LOS NOMBRES YA PUESTOS.
*/

/*#btn-sanidad { 
	background-image: url(../img/sanidad.png); 
}

#btn-manejo { 
	background-image: url(../img/manejo.png); 
}

#btn-genetica { 
	background-image: url(../img/genetica.png); 
}

#btn-nutricion { 
	background-image: url(../img/nutricion.png); 
}

#btn-fronteras { 
	background-image: url(../img/nutricion.png); 
}

#btn-veterinaria { 
	background-image: url(../img/nutricion.png); 
}

#btn-intereses { 
	background-image: url(../img/nutricion.png); 
}*/


/*.gota-producir > div > p {
	width: auto; 
	padding: 0;
	margin:0; 
	color: white; 
	font-size: 15px; 
}*/


.gota-producir > div > a > img {
	width: 85%;
	position: relative;
	max-width: 235px;
}

.gota-producir {
	padding: 25px 10px;
}


/***********************VETERINARIA***************/

.veterinaria { 
	
	height: 600px;
	max-height: 600px;
}

.veterinaria >div {
	padding: 5px 5px;
	text-align: left;
	height: 100%;
}

#provincia, #localidad {
	padding: 0px 5px; 
	margin: 20px; 
}
.map-box iframe{ 
	border:2px solid #0078B9;
	width:100%;
	height:100%;
	position: relative;

}

.red-box img { 
	width: 40%; 
}

.red-form {
	margin-top: 40px;
	margin-left: 20px;
}

.red-form >div > form > select {
	border:none; 
	color: gray; 
	width: 100%;
}

.red-form > div {
	padding:0; 
	border-bottom: 2px solid #0078B9;
}

.red-form >div > form > select:focus {
	outline:none;
}

/***********LINKS DE INTERES************/

.box-interes {
	padding: 15px;
}


.box-interes-inner {
	border-top: 4px solid #5771B0;
}

.box-interes > p {
	color:#999999;
	margin:2px; 
}

.box-interes-img {
	padding-top: 25px;
}

.box-interes-img img {
	width: 100%;
	position: relative;
}

.box-interes-inner > img { 
	position: relative; 
	width: 100%; 
}


/************* SANIDAD - NUTRICION - MANEJO - GENETICA *************/
 #mercado, #contenedor, #mercados, #clima, #hoy, #noticias {
 	padding: 50px 45px;
 }

 .square > img {
 	max-width: 235px
 }

.box-sanidad {
	background-color:#6D4A84; 
}

.box-producir-2 > div> img{
	position: relative;
 	width: 100%;
}



.box-producir-2 {
	padding: 15px;
}

.box-producir-2 > div> div > p{
	
	font-size: 1.2em;
	position: relative;
	width: auto;
}


.box-producir-2 > div> div {
	padding: 0px 10px;
 	text-align: center;
 	height: 200px;
 	background-color: white;
 	border-bottom-right-radius: 100px;
 	vertical-align: middle;
}


.box-sanidad-inner > p { 
	color:#6D4A84;
}
.box-sanidad {
	background-color:#6D4A84; 
}

.box-genetica-inner > p {
	color: #ED7C28;
}

.box-genetica {
	background-color:#ED7C28; 
}

.box-genetica-inner {
 	border:2px solid #ED7C28 ;
}
.box-sanidad-inner {
 	border:2px solid #6D4A84 ;
 	
}
.box-nutricion {
	background-color:#BAA200; 
}

.box-nutricion-inner > p {
	color: #BAA200;
}

.box-relleno{
	opacity: .1;
}

.box-nutricion-inner {
 	border:2px solid #BAA200 ;
}

.box-manejo-inner > p {
	color: #003D6A;
}

.box-manejo {
	background-color:#003D6A;
}

.box-manejo-inner {
 	border:2px solid #003D6A ;
}

/**********************HASTA ACA***************/

#clima form select::-webkit-scrollbar {
    width: 1em;
}
 
#clima form select::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px blue;
}
 
#clima form select::-webkit-scrollbar-thumb {
  background-color: blue;
  outline: 1px solid blue;
}


.columna-indicadores p {
    font-size: 1.5rem;
    padding-top: 3px;
    margin: 0;
    text-align: left;
    padding-left: 10px;
	font-weight:700;
}

.columna-granos p {
    font-size: 1.8rem;
    padding-top: 3px;
    margin: 0;
    text-align: left;
    padding-left: 10px;
}

.columna-ganado p {
	font-size: 1.5rem;
    padding-top: 3px;
    margin: 0;
    text-align: left;
    padding-left: 10px;
    font-weight: 700;
}

.table-mercado-items div p {
	text-align:left;
	padding-left:10px;
}

.container-items-mercados{
	margin-bottom: 10px;
}

.btn-default {
    color: #FFF;
    background-color: #28A382;
    border-color: none;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'arialregular';
}

.btn {
	display: inline-block;
	padding: 9px 57px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 2px;
	margin-top:5px;
}

.btn-default:hover {
    color: #FFF;
    background-color: #D0CFCF;
    border-color: transparent;
}

.btn-default:focus {
	outline:none;
	border:none;
	color: #FFF;
    background-color: #CDCDCD;
    border-color: transparent;
}

.btn-default:active {
	outline:none;
	border:none;
	color: #FFF;
    background-color: #CDCDCD;
    border-color: transparent;
}

.btn:focus {
    outline: none!important;
}

.actualizar-ganado{
	background: #5fc39e!important;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
	min-height:30px!important;
}


.actualizar-ganado p{
	color: white!important;
    font-size: 1.2rem!important;
    font-weight: 400!important;
    padding-left: 5px!important;
}

.btn-indicadores {
    display: inline-block;
    padding: 9px 24px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    margin-top:5px;
}



/*.hoy-box > div:hover {background-color:rgb(0,153,167)}*/