@media screen and (min-width: 1500px){


 
.col-xl-7 {
	width: 14%;
}

.col-xl-5 {
	width: 20%
}

.hidden-xl{
	display: none;
}

.home-bottom-box p {
	margin-top: 5%;
}

/*******HOME*******/

.home-bottom-box > a> div {
	padding: 60px 40px;     	
}




/*CIERRE DE LLLAVE*/
}

