@media screen and (max-width: 767px){


.section { /*Disminucion de padding em mobile*/
	padding:150px 2px;
}

#home{
	padding: 0;
}

.box-producir p {
	font-size: .8em;
}

.box-noticias #noticia-box {
	height: auto !important;
}


/* .long-word {
 	font-size: .95em !important ;
 }
*/
 .box-mercado-title {
 	height: auto !important;
 }
 
.box-mercado > div:first-child > div h1 {
	padding: 10px 0;
}

.home-box > div > div >img {
	width:45%;
}

.box-producir-2  p{
	font-size: 1em;
}

.navbar-toggle {
	margin-right:0px;
}

/*CIERRE DE LLAVES PRINCIPALES*/
}