@media screen and (max-width: 767px){


	.section { /*Disminucion de padding en mobile*/
		padding:50px 2px;
	}
	
	.col-xs-5{
		width: 20%;
	}

	/*HOME*/
	#home{
		padding: 15px 15px;
	}
	 .home-upper-box{
	 	padding:  7px 7px 20px 7px;
	}

	.home-upper-box > div {
		padding: 10px;
	}
	
	.home-upper-box img:nth-child(1) {
	    float: none;
	    width: 6em;
	}
	.home-bottom-box > a> div {
    	padding: 7px 7px;
	}

	.box-producir p {
		font-size: .8em;
	}
	
	.box-noticias #noticia-box {
		height: auto !important;
	}
	
	.box-mercado-title {
		height: auto !important;
	}
	
	.box-mercado > div:first-child > div h1 {
		padding: 10px 0;
	}
	
	.home-box > div > div > img{
		width:45%;
	}
	
	.box-producir-2  p{
		font-size: 1em;
	}

	/*TERMINA HOME*/
	
	.navbar-toggle {
		margin-right:0px;
		margin-top: 0;
		color: #5F5F5F;
	}
	
	.ul-nav{
		width: 100vw;
		text-align: center;
	}
	
	.ul-nav li {
		padding-left: 0;
		height:200px;
		margin-top: -6px;
	}
	
	.ul-nav li:nth-child(2){
		text-align: center;
		padding-right:0px;
	}
	
	.ul-nav li a {
		padding-top: 100px;
		color:white;
	}
	
	.ul-nav .li-header li:first-child{
		background:red;
	}
	

	/* Caja menú hoy */
	#hoy-header-m{
		background:#40CEDB;
	} 
	
	/* Caja menú mes */
	#mes-header-m{
		background:#0093D4;
	} 
	
	/* Caja menú producir */
	#producir-header-m{
		background:#7067B0;
	} 
	
	/* Caja menú ayuda*/
	#ayuda-header-m{
		background:#79BEFE;
	} 
	


	#hoy p,#hoy h1, #hoy h2, #hoy h3,  #hoy h4,#hoy div{
	margin-bottom:0;
	}

 	#hoy img{
 	padding: 0;
 	}

 	.maxboxes, .maxbox-ampliar, .mercados-moneda, .small-boxes-mercado, .maxbox-mercados{
 	height: auto !important;
 	}

	.flecos-header div{
	display:none;
	}

	.navbar-toggle {
    float: left;
	}

	.header-palabras-menu{
    height: 100vh;
	}


	/*	LOADING PAGE*/

	.loading-gif {	
	margin: 50% auto;
	}
	
	.navbar-toggle {
    margin-top: 0px;
    height: 0px;
}



	/*CLIMA*/
	.box-clima-title{
		height: auto !important;
	}




   /*REMATES TEST*/


	.title-remates h2{
    	font-size: 1.2rem;
    
	}

	.container-fechas-remates {
		height: auto !important;
	}

	.remates-box{
	padding: 1px 0.5px;
	}

	.producir-box-inner{

 	border-bottom-right-radius: 50px;

	}



/*CIERRE DE LLAVES PRINCIPALES*/
}