@media screen and (max-width: 767px){


.section { /*Disminucion de padding em mobile*/
	padding:150px 2px;
}

#home{
	padding: 0;
}

.box-producir p {
	font-size: .8em;
}

.box-noticias #noticia-box {
	height: auto !important;
}


 .long-word {
 	font-size: .95em !important;
 }
/*CIERRE DE LLAVES PRINCIPALES*/
}